@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply font-sans antialiased bg-gray-900 text-white;
        background-image: url('/background.png');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}